[Unit]
Description=NZBGet service
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
ExecStart=/usr/bin/nzbget -D

[Install]
WantedBy=multi-user.target
